# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# environment variable settings for docker and kubernetes
.env

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

gnmatcher
testdata/profiling-res.csv
coverage.txt
